# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

*.sublime-project
*.sublime-workspace

.idea/

secrets/

.terraform/
terraform.sh
terraform-init.sh
terraform-vars.sh
.terraform.lock.hcl
terraform.tfstate

helm.sh

certs/
ai-radio-chain.crt
ai-radio-chain.key

apps/go/speech-generator/server
apps/go/speech-generator/speech-generator
apps/go/speech-generator/cli-client/cli-client
apps/go/speech-generator/generated
apps/proto/generated
apps/proto/cloudapi
apps/proto/googleapis