#!/usr/bin/liquidsoap

# Logging
log.file.path.set("/var/log/liquidsoap/ai-radio.log")

# If something goes wrong, we'll play this
security = single("/music/example/white_noise.mp3")

jingles = playlist("/music/playlists/jingles.m3u")

news = playlist("/music/playlists/news.m3u")

morning = playlist("/music/playlists/morning.m3u")
day = playlist("/music/playlists/day.m3u")
night = playlist("/music/playlists/night.m3u")

radio = switch([({6h-11h}, morning), ({11h-18h}, day), ({18h-6h}, night)])
radio = random(weights=[1, 5], [jingles, radio])
radio = switch([({ 0m0s }, news), ({ true }, radio)])

radio = fallback(track_sensitive=false, [radio, mksafe(security)])

# Stream it out
output.icecast(%mp3(bitrate=128, samplerate=22050, stereo=true), host = "localhost", port = {{ICECAST_PORT}}, password = "{{ICECAST_PASSWORD}}", mount = "/", radio)