<?xml version="1.0" encoding="UTF-8"?>

<ezstream>

  <servers>
    <server>
      <name>ai-radio</name>

      <protocol>HTTP</protocol>
      <hostname>127.0.0.1</hostname>
      <port>{{PORT}}</port>

      <user>source</user>
      <password>hackme</password>

      <tls>none</tls>

      <reconnect_attempts>20</reconnect_attempts>
    </server>
  </servers>

  <streams>
    <stream>
      <mountpoint>/</mountpoint>
      <intake>music</intake>
      <server>ai-radio</server>
      <public>No</public>
      <format>MP3</format>

      <stream_name>ai-radio-example</stream_name>
      <stream_url>https://ai-cloud.ru/stream</stream_url>
      <stream_genre>AI</stream_genre>
      <stream_description>ai radio example mp3s</stream_description>
      <stream_quality>1.5</stream_quality>
      <stream_bitrate>128</stream_bitrate>
      <stream_samplerate>44100</stream_samplerate>
      <stream_channels>2</stream_channels>
    </stream>
  </streams>

  <intakes>
    <intake>
      <name>music</name>
      <type>playlist</type>
      <filename>/music/playlist.m3u</filename>
      <shuffle>No</shuffle>
      <stream_once>No</stream_once>
    </intake>
  </intakes>

  <encoders>
    <encoder>
      <name>Lame-CBR128</name>
      <format>MP3</format>
      <program>lame --preset cbr 128 -r -s 44.1 --bitwidth 16 - -</program>
    </encoder>
  </encoders>

</ezstream>