user nginxuser;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {}

http {
    server {
        listen {{NGINX_PORT}};
        server_name ai-radio.ru;

        location = / {
            proxy_pass http://localhost:{{ICECAST_PORT}};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location /ping {
            return 200 '0;OK';
        }

        location ~* !^/(ping|)$ {
            deny all;
        }
    }
}